.login-form {
  width: 420px;
  margin: 0 auto;
  z-index: 99;
  display: block;
  margin-top: 5%;
  background: transparent;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.login-form hgroup {
  text-align: center;
  margin-top: 3em;
  padding: 30px;
  background: #3f51b5;
}

.login-form .group {
  position: relative;
  margin-bottom: 45px;
}

.login-form form {
  padding: 30px;
  padding-top: 60px;
  background: #fff;
}
